
body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: rgb(241 245 249);
    font-family: "Noto Sans", sans-serif !important; 
    font-size: 12px !important;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 1.08em !important;
    font-weight: 600;
}


.card-title, .card-header, label, .btn, .form-label, .form-control, .form-select, .nav-link, .navbar, .dropdown-item {
    font-size: 1em !important;
}


.table th, .table td {
    font-size: 0.95em !important;
}


.sidebar .nav-link {
    font-size: 1em !important;
}


.btn {
    font-size: 1em !important;
    padding: .25rem .5rem !important;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #495057;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #495057;
    border-radius: 0.25rem;
}

.sidebar .nav-link .bi {
    margin-right: 10px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.topnav {
    flex-shrink: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.navbar-brand {
    font-weight: bold;
    color: #343a40;
}

.navbar-nav .nav-link {
    color: #343a40;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.card {
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

footer {
    background-color: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}
